<ion-content>
	<img src="../../assets/images/logo.png" class="logo">
		<h4>Change Password</h4>

		<div class="content_block">
		<form #userLoginForm="ngForm" (ngSubmit)="changeUserPassword(userLoginForm)">
			<ion-item>
				<ion-label position="stacked">Email</ion-label>
				<ion-input [readonly]="true" #email="ngModel" [(ngModel)]="changePasswordForm.email" type="email" autocomplete="email" name="email" placeholder="Your Email" required [ngClass]="{'is-invalid':email?.invalid && email?.touched}"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label position="stacked">Old Password</ion-label>
				<ion-input type="password" class="form-control" tabindex="2" #oldpassword="ngModel" [(ngModel)]="changePasswordForm.password" type="password" name="old_password" placeholder="Old Password" required [ngClass]="{'is-invalid':oldpassword?.invalid && oldpassword?.touched}"></ion-input>
			</ion-item>

      <ion-item>
				<ion-label position="stacked">New Password</ion-label>
				<ion-input type="password" class="form-control" tabindex="2" #newpassword="ngModel" [(ngModel)]="changePasswordForm.newPassword" type="password" name="new_password" placeholder="New Password" required [ngClass]="{'is-invalid':newpassword?.invalid && newpassword?.touched}"></ion-input>
			</ion-item>
      <small class="text-danger">{{errorMessage}}</small>
			<ion-button expand="block"color="ocean" type="submit" value="Change">Change</ion-button>
		</form>
		</div>

</ion-content>
