<ion-content>
	<img src="../../assets/images/logo.png" class="logo">

	<h4>Login</h4>

	<div class="content_block">
		<ion-item>
	  		<ion-label>Registered Mobile</ion-label>
	  	</ion-item>
	  	<ion-item class="prefix">
            <ion-icon slot="start" name="phone-portrait-outline"></ion-icon>
            <ion-text slot="start">+91</ion-text>
	  		<ion-input type="tel" maxlength="10" [(ngModel)]="mobile"></ion-input>
		</ion-item>
	</div>
	<div class="content_block">
		<!-- <p class="ion-text-end"><a href="">Send OTP?</a></p> -->
		<ion-button expand="block" (click)="enterForgetPassEmail()" color="ocean">Get OTP</ion-button>

		<!-- <p class="ion-text-center connect_text"><span>or connect with</span></p> -->
		<!-- <ul class="social_login">
			<li><Img src="../../assets/images/google.png" /></li>
			<li><Img src="../../assets/images/facebook.png" /></li>
			<li><Img src="../../assets/images/twitter.png" /></li>
			<li><Img src="../../assets/images/otp.png" /></li>
		</ul> -->
	</div>
	<div class="content_block">
			<p class="ion-text-center connect_text"><span>or connect with</span></p>
			<ul class="social_login">
				<!-- <li><Img src="../../assets/images/google.png" /></li> -->
				<li (click)="fbLogin()"><Img src="../../assets/images/facebook.png" /></li>
				<li (click)="forgetPassword()"><Img src="../../assets/images/email.png" /></li>
			</ul>
			<p class="ion-text-center">Don't have an account? <a routerLink="/register" routerDirection="root" class="signup">Sign up</a></p>
		</div>


</ion-content>