<ion-content [fullscreen]="true">
  <div class="ion-header" (click)="goBack()">
    <span class="back_button">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
    </span>
    <img src="../../assets/images/logo.png" class="logo text-center">
    <span style="visibility: hidden;" class="notification_button" (click)="openNotification()">
      <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>
    </span>
  </div>


  <div class="account_area">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <figure class="profile_image">
            <img src="{{userDetail?.image}}">
          </figure>
        </ion-col>
        <ion-col size="6">
          <h4>{{userDetail && userDetail?.name}}</h4>
          <!-- <h5>Kolkata, Barrackpore</h5> -->
        </ion-col>
        <ion-col size="3">
          <div class="d-flex align-items-center">
            <ion-button class="user__btn" routerLink="/editaccount" routerDirection="push">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#00c0c9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg></ion-button>
            <ion-button class="user__btn" routerLink="/menu/tabs/tabs/home" routerDirection="push">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#00c0c9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg></ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12"></ion-col>
        <ion-col size="12">
          <h5>Email</h5>
          <p>{{userDetail && userDetail.email}}</p>
        </ion-col>
        <ion-col size="12">
          <h5>Mobile</h5>
          <p>+91 {{userDetail.mobile}}</p>
        </ion-col>
        <ion-col size="4" *ngIf="userDetail.age; else ageNotFound">
          <h5>Age</h5>
          <p>{{userDetail.age}}</p>
        </ion-col>
        <ion-col size="8" *ngIf="userDetail.gender; else genderNotFound">
          <h5>Gender</h5>
          <p>{{userDetail.gender}}</p>
        </ion-col>
        <!-- <ion-col size="12">
          <h5>Address</h5>
          <p>Shop no 22, G.F , Cross road mall, main sikandra Bodla Road Near Kargil Petrol Pump ,Agra (UP)- 282007</p>
        </ion-col> -->
        <ion-col size="12">
          <ion-button expand="block" color="ocean" routerLink="/address" routerDirection="root" >Manage Address</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="upgrade_area">
    <div *ngIf="userDetail?.referralCode">
      <h5>Referral Code</h5>
      <h4>{{userDetail?.referralCode}}</h4>
    </div>
    <ion-button color="ocean">Copy <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-copy"><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect><path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path></svg></ion-button>
  </div>

  <div class="upgrade_area">
    <div>
      <h5>Membership</h5>
      <h4>{{userDetail.subscription?.name}}</h4>
    </div>
    <ion-button routerLink="/package" routerDirection="root" color="ocean">Upgrade <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></ion-button>
  </div>

  <div class="account_area">
    <ion-grid>
      <ion-row>
  <ion-col size="12">
          <ion-button expand="block" color="ocean" routerLink="/package" routerDirection="root" >Plan Benefits </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
